---
interface Props {
	name: string
	url: string
}

const { name, url } = Astro.props
---

<li>
	<a href={url}>
		{name}
	</a>
</li>

<style>
	li {
		margin: 0.25rem 0 0 0;
	}

	li:hover {
		/*transform: scale(1.1);*/
	}

	a {
		font-family: 'Noto Sans Meroitic';
		font-size: 1.5rem;
		display: block;
		width: 25rem;
		padding: 1.25rem 1.5rem;
		color: var(--color-text);
		background-color: var(--color-secondary) /*#d0f3f6*/;
		text-decoration: none;
		transition:
			background-color 0.3s ease,
			box-shadow 0.3s ease;
		border-radius: 0.75rem;

		box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.2);
	}

	a:hover {
		background-color: var(--color-secondary-hover);
		box-shadow: 0 0.25rem 1.25rem rgba(0, 0, 0, 0.32);
	}

	/* Mobile */
	@media (max-width: 600px) {
		a {
			width: 100%;
		}

		li {
			width: calc(100vw - 1rem);
		}
	}
</style>
